<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.ResourceMapper" >
  <resultMap id="BaseResultMap" type="com.blog.entity.Resource" >
    <id column="res_id" property="resId" jdbcType="BIGINT" />
    <result column="res_name" property="resName" jdbcType="VARCHAR" />
    <result column="res_url" property="resUrl" jdbcType="VARCHAR" />
    <result column="res_enable" property="resEnable" jdbcType="BIT" />
    <result column="res_comment" property="resComment" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    res_id, res_name, res_url, res_enable, res_comment
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from resource
    where res_id = #{resId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from resource
    where res_id = #{resId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.entity.Resource" >
    insert into resource (res_id, res_name, res_url, 
      res_enable, res_comment)
    values (#{resId,jdbcType=BIGINT}, #{resName,jdbcType=VARCHAR}, #{resUrl,jdbcType=VARCHAR}, 
      #{resEnable,jdbcType=BIT}, #{resComment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.entity.Resource" >
    insert into resource
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        res_id,
      </if>
      <if test="resName != null" >
        res_name,
      </if>
      <if test="resUrl != null" >
        res_url,
      </if>
      <if test="resEnable != null" >
        res_enable,
      </if>
      <if test="resComment != null" >
        res_comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="resId != null" >
        #{resId,jdbcType=BIGINT},
      </if>
      <if test="resName != null" >
        #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resUrl != null" >
        #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="resEnable != null" >
        #{resEnable,jdbcType=BIT},
      </if>
      <if test="resComment != null" >
        #{resComment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.Resource" >
    update resource
    <set >
      <if test="resName != null" >
        res_name = #{resName,jdbcType=VARCHAR},
      </if>
      <if test="resUrl != null" >
        res_url = #{resUrl,jdbcType=VARCHAR},
      </if>
      <if test="resEnable != null" >
        res_enable = #{resEnable,jdbcType=BIT},
      </if>
      <if test="resComment != null" >
        res_comment = #{resComment,jdbcType=VARCHAR},
      </if>
    </set>
    where res_id = #{resId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.entity.Resource" >
    update resource
    set res_name = #{resName,jdbcType=VARCHAR},
      res_url = #{resUrl,jdbcType=VARCHAR},
      res_enable = #{resEnable,jdbcType=BIT},
      res_comment = #{resComment,jdbcType=VARCHAR}
    where res_id = #{resId,jdbcType=BIGINT}
  </update>
</mapper>