<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.blog.entity.User" >
    <id column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_email" property="userEmail" jdbcType="VARCHAR" />
    <result column="user_password" property="userPassword" jdbcType="VARCHAR" />
    <result column="user_phone" property="userPhone" jdbcType="CHAR" />
    <result column="user_nickname" property="userNickname" jdbcType="VARCHAR" />
    <result column="user_state" property="userState" jdbcType="BIT" />
    <result column="user_img" property="userImg" jdbcType="VARCHAR" />
    <result column="user_enable" property="userEnable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    user_id, user_email, user_password, user_phone, user_nickname, user_state, user_img, 
    user_enable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user
    where user_id = #{userId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user
    where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.entity.User" >
    insert into user (user_id, user_email, user_password, 
      user_phone, user_nickname, user_state, 
      user_img, user_enable)
    values (#{userId,jdbcType=BIGINT}, #{userEmail,jdbcType=VARCHAR}, #{userPassword,jdbcType=VARCHAR}, 
      #{userPhone,jdbcType=CHAR}, #{userNickname,jdbcType=VARCHAR}, #{userState,jdbcType=BIT}, 
      #{userImg,jdbcType=VARCHAR}, #{userEnable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.entity.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userEmail != null" >
        user_email,
      </if>
      <if test="userPassword != null" >
        user_password,
      </if>
      <if test="userPhone != null" >
        user_phone,
      </if>
      <if test="userNickname != null" >
        user_nickname,
      </if>
      <if test="userState != null" >
        user_state,
      </if>
      <if test="userImg != null" >
        user_img,
      </if>
      <if test="userEnable != null" >
        user_enable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userEmail != null" >
        #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userNickname != null" >
        #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        #{userState,jdbcType=BIT},
      </if>
      <if test="userImg != null" >
        #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="userEnable != null" >
        #{userEnable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.User" >
    update user
    <set >
      <if test="userEmail != null" >
        user_email = #{userEmail,jdbcType=VARCHAR},
      </if>
      <if test="userPassword != null" >
        user_password = #{userPassword,jdbcType=VARCHAR},
      </if>
      <if test="userPhone != null" >
        user_phone = #{userPhone,jdbcType=CHAR},
      </if>
      <if test="userNickname != null" >
        user_nickname = #{userNickname,jdbcType=VARCHAR},
      </if>
      <if test="userState != null" >
        user_state = #{userState,jdbcType=BIT},
      </if>
      <if test="userImg != null" >
        user_img = #{userImg,jdbcType=VARCHAR},
      </if>
      <if test="userEnable != null" >
        user_enable = #{userEnable,jdbcType=BIT},
      </if>
    </set>
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.entity.User" >
    update user
    set user_email = #{userEmail,jdbcType=VARCHAR},
      user_password = #{userPassword,jdbcType=VARCHAR},
      user_phone = #{userPhone,jdbcType=CHAR},
      user_nickname = #{userNickname,jdbcType=VARCHAR},
      user_state = #{userState,jdbcType=BIT},
      user_img = #{userImg,jdbcType=VARCHAR},
      user_enable = #{userEnable,jdbcType=BIT}
    where user_id = #{userId,jdbcType=BIGINT}
  </update>
</mapper>