<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.blog.dao.UserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.blog.entity.UserInfo" >
    <id column="ui_id" property="uiId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="user_sex" property="userSex" jdbcType="BIT" />
    <result column="user_brithday" property="userBrithday" jdbcType="DATE" />
    <result column="user_hobby" property="userHobby" jdbcType="VARCHAR" />
    <result column="user_address" property="userAddress" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ui_id, user_id, user_name, user_sex, user_brithday, user_hobby, user_address
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from user_info
    where ui_id = #{uiId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from user_info
    where ui_id = #{uiId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.blog.entity.UserInfo" >
    insert into user_info (ui_id, user_id, user_name, 
      user_sex, user_brithday, user_hobby, 
      user_address)
    values (#{uiId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR}, 
      #{userSex,jdbcType=BIT}, #{userBrithday,jdbcType=DATE}, #{userHobby,jdbcType=VARCHAR}, 
      #{userAddress,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.blog.entity.UserInfo" >
    insert into user_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uiId != null" >
        ui_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="userName != null" >
        user_name,
      </if>
      <if test="userSex != null" >
        user_sex,
      </if>
      <if test="userBrithday != null" >
        user_brithday,
      </if>
      <if test="userHobby != null" >
        user_hobby,
      </if>
      <if test="userAddress != null" >
        user_address,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uiId != null" >
        #{uiId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        #{userSex,jdbcType=BIT},
      </if>
      <if test="userBrithday != null" >
        #{userBrithday,jdbcType=DATE},
      </if>
      <if test="userHobby != null" >
        #{userHobby,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        #{userAddress,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blog.entity.UserInfo" >
    update user_info
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="userName != null" >
        user_name = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="userSex != null" >
        user_sex = #{userSex,jdbcType=BIT},
      </if>
      <if test="userBrithday != null" >
        user_brithday = #{userBrithday,jdbcType=DATE},
      </if>
      <if test="userHobby != null" >
        user_hobby = #{userHobby,jdbcType=VARCHAR},
      </if>
      <if test="userAddress != null" >
        user_address = #{userAddress,jdbcType=VARCHAR},
      </if>
    </set>
    where ui_id = #{uiId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blog.entity.UserInfo" >
    update user_info
    set user_id = #{userId,jdbcType=BIGINT},
      user_name = #{userName,jdbcType=VARCHAR},
      user_sex = #{userSex,jdbcType=BIT},
      user_brithday = #{userBrithday,jdbcType=DATE},
      user_hobby = #{userHobby,jdbcType=VARCHAR},
      user_address = #{userAddress,jdbcType=VARCHAR}
    where ui_id = #{uiId,jdbcType=BIGINT}
  </update>
</mapper>